<%- include('../partials/header.ejs') %>
<h1>Login!</h1>
<form method="POST" action="/auth/login">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" value="<%= email %>">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" value="<%= password %>">
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form action="/auth/registration">
    <p>Not a user?</p>
    <input type="submit" class="btn btn-primary" value="Register!" />
 </form>
  
<%- include('../partials/errors.ejs') %>
<%- include('../partials/footer.ejs') %>