<%- include('../partials/header.ejs') %>
<div class="auth-form-wrapper">
    <form method="POST" action="/auth/registration">
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Enter email" value="<%= email %>" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Enter password" value="<%= password %>"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="verification" placeholder="Re-enter password" value="<%= verification %>" />
        </div>
        <input type="submit" class="btn btn-primary" value="Submit!" />
    </form>
</div>
<%- include('../partials/errors.ejs') %>
<%- include('../partials/footer.ejs') %>